<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {{>headerlink}}
    <link rel="shortcut icon" href="./images/logo.png" type="image/png">
    <link rel="stylesheet" href="./css/style.css" />
    <title>DaniyWeatherExpress</title>
  </head>
  <body>
    {{>navbar}}

    <!-- main-Home_page -->
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-10 col-12 mx-auto">
            <div class="row">
                <!-- main_page_right -->
                <div class="col-md-12 col-12 main_page_left errImg align-items-center">
                    <figure>
                        <img src="./images/404.png" alt="daniyal pic" class="img-fluid" title="Daniyal Shiekh">
                    </figure>
                    <p>Welcome to the weather Website</p>
                    <h1>{{errMsg}}</h1>
                    <a href="/"><button>Go Back</button></a>
                </div>
            </div>
        </div>
      </div>
    </div>

    <!-- footer code -->
    {{>footer}}
  </body>
</html>
